<div dir="auto"></div><br>
<div class="gmail_quote">
    <div style="margin:0;padding:20px 0;background:#f7f8f9;font-family:Helvetica,Arial;width:100%!important">
        <table border="0" cellpadding="0" cellspacing="0" id="m_-2287080187201414494backgroundTable" style="margin:0;padding:0;background:#f7f8f9!important;width:100%!important;line-height:100%!important">
            <tbody>
                <tr>
                    <td valign="center" width="600">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#344759;border:0px solid 344759">
                            <tbody>
                                <tr>
                                    <td valign="top" width="600">
                                        <table align="center" border="0" cellpadding="0" cellspacing="32">
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center">
                                                        <a href="https://email.Helixstack.com/c/eJx9j0tuxCAQRE9jdrYAN78Fi2xyDQtDW=
    UbjsREmSub2Ick-Um_6qdRdD8-Qj6W9CvyW692WeD3LgZavcwntXkrte2PZawE4viJYR2YxXFoh=
    Nh1nZ5QdiKtoZwvQGHUwI82Gj44LO3LFYRVJrZ2dfn6x3WPT6IGVkiFoBK1IrJLLmJBUMmD4K3U=
    9cPokLTghkHOb2KADiGYigus3jCN2-L21cg_z2yDf-7Sau8D6api6Swes-nrt4ZxK-Ay1d91x5K=
    -7hfiY8snav-IVpbNfGq-Ps3nOkjeGtAjfaUtmMw" style="color:#4a90e2" target="_blank" rel="noreferrer">
                                                            <img height="50" lt="Helixstack" src="https://Helixstack.com/assets/nHelixstack_logo_70-4b3c02fcd9866c06c492cdc677b=
    28edf3010a9a0c1261db64c820943266f9333.png">
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="568">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="16"> </td>
                                                    <td valign="middle" width="568">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:white;border:0px solid white">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="background-color:#4a90e2;border:0px solid #4a90e2" valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="4" width="568">
                                                                            <tr>
                                                                                <td> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="16">
                                                                            <tr>
                                                                                <td> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="32"> </td>
                                                                                    <td valign="middle" width="504">
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            <% if(typeof locals.name
                                                                                                !="undefined" &&
                                                                                                locals.name) { %>
                                                                                                <h2>
                                                                                                    Hi,
                                                                                                    <%= locals.name
                                                                                                        %>
                                                                                                </h2>
                                                                                                <% } %>,
                                                                                        </p>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            You just received your first candidate score on Helixstack. Want to streamline your workflow even more? You can set it up so that all scores are sent directly to Greenhouse, Lever , or another ATS.
                                                                                        </p>
                                                                                        <div style="width:175px;margin:0 auto">
                                                                                            <a class="m_-2287080187201414494btn" href="https://email.Helixstack.com/c/eJx90LtuhTAMBuCnIRsoAec2ZOjS10AmmBIdToiCq_a8fUO7V_Jg_4v9mZ6YjplfhcKW6sVzPJ_lIE5nnpGvudQ2s0jBKCIvF0Lnwc5Wjk6pzcTJW-06kDq6yRFBHw3aHiYrey-V66WW5DSMxng33LvEHqxGoi2qdTOAdlxVXM2itfeI0nmygv6OOh-Uwzo6kkAI3m9qI4MEMAEAeZqs9SCOsDOXq5veuvG9FdfUAMuLaWiWFtwizImu1t-klJk-Kt7ES9RQzx3zUPALa3PsdKTvizE-hpQF__uUSqVlv2k8PzMHKdZgLRiFP4LVcVo"
                                                                                                style="color:#4a90e2;background-color:#4a90e2;border:1px solid #4a90e2;border-radius:0.25rem;font-family:Lato,-apple-system,BlinkMacSystemFont,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;font-size:14px;font-weight:700;line-height:1;margin:0;outline:none;padding:0.68em 2.14em;vertical-align:middle;white-space:nowrap;display:inline-block;margin:15px 15px 25px 15px;padding:10px 30px;background:#4a90e2;border:none;color:#fff;text-decoration:none;font-weight:500"
                                                                                                target="_blank" rel="noreferrer">
                                                                                                Connect ATS
                                                                                            </a>
                                                                                        </div>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            When you connect Helixstack Screen and your ATS, you can reduce the steps in your sourcing workflow by...
                                                                                        </p>
                                                                                        <ol style="margin:14px 0">
                                                                                            <li style="line-height:1.4;color:#3e4348">
                                                                                                <p style="color:#3e4348;font-size:14px;line-height:1.4;margin:0">
                                                                                                    Automatically sending candidates your Screen assessments (no emailing required!)
                                                                                                </p>
                                                                                            </li>
                                                                                            <li style="line-height:1.4;color:#3e4348">
                                                                                                <p style="color:#3e4348;font-size:14px;line-height:1.4;margin:0">
                                                                                                    Viewing their scores directly in your ATS (no login to Helixstack required!)
                                                                                                </p>
                                                                                            </li>
                                                                                        </ol>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            Plus, Screen is
                                                                                            <b>
                                                                                                <a href="https://email.Helixstack.com/c/eJx9kMtuxCAMRb8m7IggmNeCRTf9jcghToMmkyCgj_n7Mu2iu0qWLJ9ryfea7piOuT0yhS2V2uZ43fNBLV3njK3OufS5sRSMJPJiIXQe7GzF5KTcTFTeajeA0NEpRwQ8GrQclBXcC-m40IKchskY78bnLbaH6LREMJEWbbRdJkduxcktShpYlZ0Y_Zq6bnSGtcsCCMH7TW5kkAAUAJAnZa0HdoS9tVwH9TJMr72eAdJBZWwl9STLo9HYWVeW43rrbSXKfE0fxP82ONZKtd7pbKyEcu14jhk_sfRoOx3pqzaMtzGdrP37p0K5sx8ar_ezBcHWYC0Yid9uv3eY"
                                                                                                    style="color:#4a90e2"
                                                                                                    target="_blank"
                                                                                                    rel="noreferrer">highly
                                                                                                    predictive</a>
                                                                                                of which candidates will
                                                                                                do well
                                                                                            </b> in your process, so you'll make the hire faster by interviewing
                                                                                            the right candidates from the start.
                                                                                        </p>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            If you'd like help connecting your ATS, book a 1:1 training with Anshuk, Helixstack's VP of Screen
                                                                                            <% if(typeof locals.link
                                                                                                !="undefined" &&
                                                                                                locals.link) { %>
                                                                                                <a href="<%= locals.link %>" style="color:#4a90e2" target="_blank" rel="noreferrer">here</a>.
                                                                                                <% } %>
                                                                                        </p>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            Happy screening,
                                                                                            <br> Helixstack
                                                                                        </p>

                                                                                    </td>
                                                                                    <td width="32"> </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="16">
                                                                            <tr>
                                                                                <td> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td width="16"> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#344759;border:0px solid #344759">
                            <tr>
                                <td valign="middle" width="600">
                                    <table align="center" border="0" cellpadding="0" cellspacing="8" width="600">
                                        <tbody>
                                            <tr>
                                                <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:10px" valign="middle" width="600">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" id="m_-2287080187201414494footerEmail" style="font-size:10px;letter-spacing:1px;color:#a9acae;background-color:#344759;border:1px solid #344759">
                                        <tbody>
                                            <tr>
                                                <td valign="middle" width="600" style="height:33px">
                                                    <div style="text-align:center;padding:6px 12px">
                                                        Helixstack ©2022
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <img width="1px" height="1px" alt="" src="https://email.Helixstack.com/o/eJx9j0FuhTAMBU_T7EAxMXG8yFki_-CI6PMBhVRtb1_a7rt8s3kz-pK6pf51aiy1XT3l43Vu2uuxJ-lXOtu9u6nRgyrbh0pgpER2CgDFZ8c0hze0cw4uqOKQvdCAjuzAFsJgZ6thxsl7DuPPl1kjEHuxMmNBZCwOqCA91C0EwARq9E_qeOoelymoRRVkLlDUiyI6RFRWR8RoWmzHKvt4yoe022TVrX5eXfJzrLvp_2Y1PW_2S_PxvvdozRKJ0IN8A3RIWfs">
    </div>

</div>