<div dir="auto"></div><br>
<div class="gmail_quote">
    <div dir="ltr" cla=ss="gmail_attr">---------- Forwarded message ---------<br>From: <strong c=lass="gmail_sendername" dir="auto">Triplebyte Screen</strong> <span dir=="auto">&lt;<a
                href="mailto:screen@team.triplebyte.com">screen@team.tri=
                plebyte.com</a>&gt;</span><br>Date: Mon, 24 Jan, 2022, 5:12 pm<br>Subject: = =E2=9C=94=EF=B8=8F New quiz completion - get scores directly in your ATS
        <br=>To: &lt;<a href="mailto:rohan.pawar@helixstack.in">rohan.pawar@helixsta=
                ck.in</a>&gt;<br>
    </div><br><br><u></u>






    <div style="margin:0;padding:20px 0;background:#f7f8f9;font-family:Helvet=
    ica,Arial;width:100%!important">
        <table border="0" cellpadding="0" cellspacing="0" id="m_-2287080187=
    201414494backgroundTable" style="margin:0;padding:0;background:#f7f8f9;wi=
    dth:100%!important;line-height:100%!important">
            <tbody>
                <tr>
                    <td valign="center" width="600">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" st=yle="background-color:#344759;border:0px solid #344759">
                            <tbody>
                                <tr>
                                    <td valign="top" width="600">
                                        <table align="center" border="0" cellpadding="0" cellspacing="32">
                                            <tbody>
                                                <tr>
                                                    <td style="text-align:center">
                                                        <a href="https://email.triplebyte.com/c/eJx9j0tuxCAQRE9jdrYAN78Fi2xyDQtDW=
    UbjsREmSub2Ick-Um_6qdRdD8-Qj6W9CvyW692WeD3LgZavcwntXkrte2PZawE4viJYR2YxXFoh=
    Nh1nZ5QdiKtoZwvQGHUwI82Gj44LO3LFYRVJrZ2dfn6x3WPT6IGVkiFoBK1IrJLLmJBUMmD4K3U=
    9cPokLTghkHOb2KADiGYigus3jCN2-L21cg_z2yDf-7Sau8D6api6Swes-nrt4ZxK-Ay1d91x5K=
    -7hfiY8snav-IVpbNfGq-Ps3nOkjeGtAjfaUtmMw" style="color:#4a90e2" target=="_blank" rel="noreferrer"><img height="50" alt="Triplebyte" src="ht=
    tps://triplebyte.com/assets/ntriplebyte_logo_70-4b3c02fcd9866c06c492cdc677b=
    28edf3010a9a0c1261db64c820943266f9333.png"></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="568">
                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td width="16"> </td>
                                                    <td valign="middle" width="568">
                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" st=yle="background-color:white;border:0px solid white">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="background-color:#4a90e2;border:0px solid #4a90e2" valign="m=
    iddle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="4" wi=dth="568">
                                                                            <tr>
                                                                                <td> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="16">
                                                                            <tr>
                                                                                <td> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td width="32"> </td>
                                                                                    <td valign="middle" width="504">
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            Hi Rohan,
                                                                                        </p>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            You just received your first candidate score on Triplebyte. Want to streamline your workflow even more? You can set it up so that all scores are sent directly to Greenhouse, Lever= , or another ATS.
                                                                                        </p>
                                                                                        <div style="width:175px;margin:0 auto">
                                                                                            <a class="m_-2287080187201414494btn" href="https://email.triplebyte.com=
    /c/eJx90LtuhTAMBuCnIRsoAec2ZOjS10AmmBIdToiCq_a8fUO7V_Jg_4v9mZ6YjplfhcKW6sVz=
    PJ_lIE5nnpGvudQ2s0jBKCIvF0Lnwc5Wjk6pzcTJW-06kDq6yRFBHw3aHiYrey-V66WW5DSMxng=
    33LvEHqxGoi2qdTOAdlxVXM2itfeI0nmygv6OOh-Uwzo6kkAI3m9qI4MEMAEAeZqs9SCOsDOXq5=
    veuvG9FdfUAMuLaWiWFtwizImu1t-klJk-Kt7ES9RQzx3zUPALa3PsdKTvizE-hpQF__uUSqVlv=
    2k8PzMHKdZgLRiFP4LVcVo" style="color:#4a90e2;background-color:#4a90e2;bor=
    der:1px solid #4a90e2;border-radius:0.25rem;font-family:&quot;Lato&quot;,&q=
    uot;-apple-system&quot;,&quot;BlinkMacSystemFont&quot;,sans-serif,&quot;App=
    le Color Emoji&quot;,&quot;Segoe UI Emoji&quot;,&quot;Segoe UI Symbol&quot;=
    ,&quot;Noto Color Emoji&quot;;font-size:14px;font-weight:700;line-height:1;=
    margin:0;outline:none;padding:0.68em 2.14em;vertical-align:middle;white-spa=
    ce:nowrap;display:inline-block;margin:15px 15px 25px 15px;padding:10px 30px=
    ;background:#4a90e2;border:none;color:#fff;text-decoration:none;font-weight=
    :500" target="_blank" rel="noreferrer">Connect ATS</a>
                                                                                        </div>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            When you connect Triplebyte Screen and your ATS, you can reduce the steps i= n your sourcing workflow by...
                                                                                        </p>
                                                                                        <ol style="margin:14px 0">
                                                                                            <li style="line-height:1.4;color:#3e4348">
                                                                                                <p style="color:#3e4348;font-size:14px;line-height:1.4;margin:0">
                                                                                                    Automatically sending candidates your Screen assessments (no emailing requi= red!)
                                                                                                </p>
                                                                                            </li>
                                                                                            <li style="line-height:1.4;color:#3e4348">
                                                                                                <p style="color:#3e4348;font-size:14px;line-height:1.4;margin:0">
                                                                                                    Viewing their scores directly in your ATS (no login to Triplebyte required!= )
                                                                                                </p>
                                                                                            </li>
                                                                                        </ol>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            Plus, Screen is
                                                                                            <b>
                                                                                                <a href="https://email.triplebyte.com/c/eJx9kMtuxCAMRb8m7IggmNeCRTf9jcghT=
    oMmkyCgj_n7Mu2iu0qWLJ9ryfea7piOuT0yhS2V2uZ43fNBLV3njK3OufS5sRSMJPJiIXQe7GzF=
    5KTcTFTeajeA0NEpRwQ8GrQclBXcC-m40IKchskY78bnLbaH6LREMJEWbbRdJkduxcktShpYlZ0=
    Y_Zq6bnSGtcsCCMH7TW5kkAAUAJAnZa0HdoS9tVwH9TJMr72eAdJBZWwl9STLo9HYWVeW43rrbS=
    XKfE0fxP82ONZKtd7pbKyEcu14jhk_sfRoOx3pqzaMtzGdrP37p0K5sx8ar_ezBcHWYC0Yid9uv=
    3eY" style="color:#4a90e2" target="_blank" rel="noreferrer">highly pr=
                                                                                                    edictive</a>
                                                                                                of which candidates will
                                                                                                do well
                                                                                            </b> in your process, so you=E2=80=99ll make the hire faster by interviewing
                                                                                            the= right candidates from the start.
                                                                                        </p>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            If you=E2=80=99d like help connecting your ATS, book a 1:1 training with An= shuk, Triplebyte=E2=80=99s VP of Screen
                                                                                            <a href="https://email.triplebyte.com/c/eJx9kL1uhDAQhJ8GdyAbL_4pXFyT10CLW=
    Q7rOIPsPSX39nGSPtI0M1vsfENPTMfM74vClkrlOZ7P6yBOZ56R63yV5lmkYBSRlwuh82BnK0en=
    1Gai9nZyHcgpOu2IoI8GbQ_ayt5L5Xo5SXITjMZ4N_z8EnvAiJtSEhWNi10WqQDXSa8wWXBqMau=
    gv1Lng3JYR0cSCMH7TW1kkAA0AJAnba0HcYSd-aqdvnXjR9OTWvt8r0PFg-pxbjw0pnbgkhrZ8m=
    ZqBnPdX4875nVPooRy7piHCz-xNJidjvRVGeNjSFnwv8sUulr2m8bzlTlIsQZrwSj8BnCgcs0"=style="color:#4a90e2" target="_blank" rel="noreferrer">here</a>.
                                                                                        </p>
                                                                                        <p style="color:#3e4348;font-size:14px;line-height:1.4">
                                                                                            Happy screening,
                                                                                            <br> Triplebyte
                                                                                        </p>

                                                                                    </td>
                                                                                    <td width="32"> </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td valign="middle" width="568">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="16">
                                                                            <tr>
                                                                                <td> </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td width="16"> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="background-color:#344759;border:0px solid #344759">
                            <tr>
                                <td valign="middle" width="600">
                                    <table align="center" border="0" cellpadding="0" cellspacing="8" width="600">
                                        <tbody>
                                            <tr>
                                                <td> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-bottom:10px" valign="middle" width="600">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" id="m_-2287080187201414494footerEmail" style="font-size:10px;letter-spacing:1px;color:#a9acae;background-color:#344759;border:1px solid #344759">
                                        <tbody>
                                            <tr>
                                                <td valign="middle" width="600" style="height:33px">
                                                    <div style="text-align:center;padding:6px 12px">
                                                        Triplebyte =C2=A9 2022
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <img width="1px" height="1px" alt="" src="https://email.triplebyte.=
    com/o/eJx9j0FuhTAMBU_T7EAxMXG8yFki_-CI6PMBhVRtb1_a7rt8s3kz-pK6pf51aiy1XT3l4=
    3Vu2uuxJ-lXOtu9u6nRgyrbh0pgpER2CgDFZ8c0hze0cw4uqOKQvdCAjuzAFsJgZ6thxsl7DuPP=
    l1kjEHuxMmNBZCwOqCA91C0EwARq9E_qeOoelymoRRVkLlDUiyI6RFRWR8RoWmzHKvt4yoe022T=
    VrX5eXfJzrLvp_2Y1PW_2S_PxvvdozRKJ0IN8A3RIWfs">
    </div>

</div>